{% load static %}

<!--
<h1>MY PORTFOLIO</h1>

<img src="{% static 'images/fb.jfif' %}">
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Muhammed Hassan M</title>
        <link href="{% static '/css/main.csss' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id ="profile-pic" src="{% static 'images/hassan.jpg' %}" alt="Hassan">
                    <hr>
                    <h2>Iam Muhammed Hassan M</h2>
                    <p>I love Coding And Research</p>
                </div>
                <div class="col-md-9">
                    <div class="card card-body">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                </div>
                <div class="col-md-6">
                    <div class="card card-body">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                </div>
                <div class="col-md-6">
                    <div class="card card-body">
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>